fastapi
uvicorn
pydantic
python-multipart
pypdf
redis
langchain
langchain-text-splitters
langchain-community
bs4
langchain-core
langchain-ollama
langchain-experimental
langchain-mcp-adapters
rank-bm25